@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
  @apply py-2;
  @apply px-1;
}

h2 {
  @apply text-3xl;
  @apply font-semibold;
  @apply py-2;
  @apply px-1;
}

h3 {
  @apply text-2xl;
  @apply font-semibold;
  @apply py-1;
}

menu {
  @apply m-0;
  @apply p-0;
}
